<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:installLocation="preferExternal" package="com.bubblesworth.soundboard.mlpfim.packs.celebrities" android:versionName="015" android:versionCode="15">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="8"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        
        
        
        <provider android:authorities="com.bubblesworth.soundboard.mlpfim.packs.celebrities" android:name=".SoundPackProvider"><meta-data android:name='com.bubblesworth.soundboard.mlpfim.packs.categories' android:value="content://com.bubblesworth.soundboard.mlpfim.packs.celebrities/categories"></meta-data><meta-data android:name="com.bubblesworth.soundboard.mlpfim.packs.sounds" android:value="content://com.bubblesworth.soundboard.mlpfim.packs.celebrities/sounds"></meta-data><meta-data android:name="com.bubblesworth.soundboard.mlpfim.packs.credits" android:value="content://com.bubblesworth.soundboard.mlpfim.packs.celebrities/credits"></meta-data>
        </provider>


    </application>
</manifest>