<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.bubblesworth.soundboard.mlpfim.packs.maneunicorns"
      android:installLocation="preferExternal" android:versionName="017" android:versionCode="17">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="8"/>

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        
        
        
        <provider android:authorities="com.bubblesworth.soundboard.mlpfim.packs.maneunicorns" android:name=".SoundPackProvider"><meta-data android:name="com.bubblesworth.soundboard.mlpfim.packs.categories" android:value="content://com.bubblesworth.soundboard.mlpfim.packs.maneunicorns/categories"></meta-data><meta-data android:name="com.bubblesworth.soundboard.mlpfim.packs.sounds" android:value="content://com.bubblesworth.soundboard.mlpfim.packs.maneunicorns/sounds"></meta-data><meta-data android:name="com.bubblesworth.soundboard.mlpfim.packs.credits" android:value="content://com.bubblesworth.soundboard.mlpfim.packs.maneunicorns/credits"></meta-data>
        </provider>


    </application>
</manifest>
